<div *ngIf="listData()?.data as items;" class="list-container">
    <div *ngFor="let item of items;" class="list-card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ item.name }}</mat-card-title>
          <mat-card-subtitle>ID: {{ item.id }} | Year: {{ item.year }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>
            <span>Pantone: {{ item.pantone_value }}</span>
          </div>
          <div>
            <span>Color:</span>
            <span class="color-box" [style.background]="item.color"></span>
            <span>{{ item.color }}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
</div>